#################
## React Examples
#################

lib/
Issues/

#################
## npm
#################

node_modules/
npm-debug.log

#################
## zeit next
#################

.next/

#################
## Other
#################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
