#################
## React Examples
#################

.cache/
build/
build-storybook/
coverage/
docs/
Issues/
temp/

#################
## npm
#################

node_modules/
npm-debug.log
package-lock.json

#################
## yarn
#################

yarn.lock
yarn-error.log

#################
## bower
#################

bower_components/

#################
## ESLint
#################

.eslintcache

#################
## zeit next
#################

.next/

#################
## Other
#################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
