#################
## React Examples
#################

build/
storybook-static/
coverage/
docs/
lib/
Issues/
temp/

#################
## npm
#################

node_modules/

#################
## Vercel NEXT.js
#################

.next/
