/*! Copyright © 2018 Rick Beerendonk !*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Anonymous%20Pro');

* {
  font-family: Montserrat;
}

h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 * {
  font-family: Comfortaa;
}

body > :first-child::before {
  content: "Copyright © Rick Beerendonk";
  color: #444;
  font-family: Comfortaa;
  font-weight: bold;
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 10px;
  height: calc(1rem + 10px);
  width: calc(100% - 10px);
  background-color: white;
  background-image: url("oblicum-logo.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  opacity: 0.7;
  z-index: 99;
  zoom: 50%;
}

.code {
  font-family: 'Anonymous Pro';
}

.oblicum-spinner {
  animation: oblicum-spin infinite 1s linear;
  height: 1em;
}

@keyframes oblicum-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
