/*! Copyright © 2018 Rick Beerendonk !*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Anonymous%20Pro');

* {
  font-family: Montserrat;
}

h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 * {
  font-family: Comfortaa;
}

body > :first-child::before {
  content: "Copyright © Rick Beerendonk";
  font-family: Comfortaa;
  font-size: 1.7rem;
  font-weight: bold;
  display: block;
  position: fixed;

  background-color: #444;
  background-image: url("oblicum-logo.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - .8rem);
  color: white;
  border-color: #444;
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 2rem;

  padding-left: .7rem;
  padding-right: 1rem;

  bottom: 0;
  left: 0;
  margin: 1rem;
  height: 2rem;
  width: calc(100% - 4rem);

  opacity: 0.7;
  z-index: 99;
}

.code {
  font-family: 'Anonymous Pro';
}

.loading {
  color: #d676ff;
}

.oblicum-spinner {
  animation: oblicum-spin infinite 1s linear;
  height: 1em;
}

@keyframes oblicum-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
