body {
  margin: 0;
}

header,
footer {
  background: lightblue;
  padding: 0.5rem;
}

main {
  padding: 0.5rem;
}

header h1,
header ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

header ul {
  padding: 0;
}

header ul > li {
  display: inline-block;
  margin-right: 0.5rem;
}
