body {
  font-family: arial, sans-serif;
  line-height: 1.5em;
  zoom: 100%;
}

.action {
  color: darkgray
}

.startup {
  color: green;
}

.cleanup {
  color: red;
}

.rendering {
  font-weight: bold;
}