body {
  font-family: arial, sans-serif;
  line-height: 1.5em;
}

.action {
  color: darkgray
}

.mounting {
  color: #00FF00;
}

.unmounting {
  color: #FF0000;
}

.updating {
  color: #0000FF;
}

.rendering {
  font-weight: bold;
}

/* Mixin 1 */

.mixin1.mounting {
  color: #006600;
}

.mixin1.unmounting {
  color: #660000;
}

.mixin1.updating {
  color: #000066;
}

/* Mixin 2 */

.mixin2.mounting {
  color: #00AA00;
}

.mixin2.unmounting {
  color: #AA0000;
}

.mixin2.updating {
  color: #0000AA;
}