
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!-- This will render the component server-side -->
    @Html.React("ClickMe", new { })

    <script src="http://fb.me/react-15.1.0.js"></script>
    <script src="http://fb.me/react-dom-15.1.0.js"></script>
    <script src="@Url.Content("~/Scripts/ClickMe.jsx")"></script>
    @Html.ReactInitJavaScript()
</body>
</html>
